* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    align-items: stretch;
    min-width: 0;
    min-height: 0;
}

.left {
    flex: 80% 0 0;
    background-color: blue;
}

.right {
    flex: 20% 0 0;
    background-color: brown;
}

.searchbar {
    float: right;
    padding: 6px;
    border: none;
    font-size: 17px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: darkslategray;
}

@media only screen and (max-width: 768px) {
    .flex-container,
    .navbar {
        flex-direction: row;
    }
}