/* Turns into responsive column and image switch */

@media only screen and (min-width: 50px) and (max-width: 500px) {
    .row {
        flex-flow: column wrap
    }
    .image1 {
        display: none;
    }
    .image2 {
        display: block;
    }
    .image3 {
        display: block;
    }
}