/* Turns into responsive column and image switch */

@media only screen and (max-width: 500px) {
    main .row {
        flex-flow: column wrap;
    }
    #homebanner {
        display: none;
    }
    .image1 {
        display: none;
    }
    .image2 {
        display: none;
    }
    .image3 {
        display: block;
    }
}