html {
    padding: 0;
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: grey;
}

p {
    font-size: 1vw;
}

h1 {
    font-size: 3vw;
}

.flex-container {
    color: beige;
    background-color: grey;
}

.searchbar {
    background-color: darkslategray;
    font-size: 1vw;
}

.left {
    color: beige;
    background-color: grey;
}

.right {
    color: beige;
    background-color: grey;
}

.navbar {
    background-color: darkred;
    font-family: Arial;
}

.navbar a {
    font-size: 0.5vw;
    color: black;
    text-align: center;
}

.dropdown .dropbtn {
    background-color: darkred;
    color: Grey;
    font-size: 0.5vw;
}


/* Add a beige background color to navbar links on hover */

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: beige;
}

.dropdown-content {
    background-color: brown;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
}


/* Add a beige background color to dropdown links on hover */

.dropdown-content a:hover {
    background-color: beige;
}


/* Show current link */

.currentLink {
    background-color: red;
}

.visitedLink {
    background-color: beige;
}

footer {
    background-color: navy;
}